<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>WeighAdmin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>PigletDeath&amp;</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>fcl-nav-pr</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>fcl-weigh</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ScaleLID" serializeAs="String">
                <value>WS01</value>
            </setting>
            <setting name="CrateWeight" serializeAs="String">
                <value>2.40</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
</configuration>